# Mailtrap SMTP (dev)
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=REPLACE_ME
MAIL_PASSWORD=REPLACE_ME
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@myshop.local
MAIL_FROM_NAME="MyShop Dev"
